.square {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 15px solid blue;
}

.cross {
  height: 90px;
  width: 90px;
  position: relative;
}

.cross::before {
  content: "";
  position: absolute;
  background-color: red;
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
  transform: rotate(45deg);
}

.cross::after {
  content: "";
  position: absolute;
  background-color: red;
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
  transform: rotate(-45deg);
}

.text__score {
  font-size: 48px;
}

.btn {
  border: none;
  font-size: 20px;
  padding: 10px 14px;
  text-transform: uppercase;
  background-color: rgb(231, 228, 38);
  border-radius: 10px;
  font-weight: bold;
}

.btn:hover {
  background-color: rgb(160, 158, 60);
  color: white;
}
